/* Universal selector affecting all elements */
* {
    background-color: #ebf6f7;
    color: #14080E;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: start;
    min-height: 100vh;
    margin: auto;
    padding: 0;
}

header {
    width: 100%;
    padding: 15px;
    text-align: center;
}


nav {
    display: flex;
    justify-self: unset;
    justify-content: center;
    margin-top: 10px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #326440;
    font-weight: bold;
}

.add-button {
    font-size: 24px;
    text-decoration: none;
    color: #5DA271;
}

main {
    padding: 20px;
    width: 100%;
    max-width: 800px;
}

h2 {
    margin-top: 0;
    text-align: center;
}

.filters {
    margin-bottom: 20px;
    text-align: center;
}

.food-items table {
    width: 100%;
    border-collapse: collapse;
}

.food-items th, .food-items td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

.food-items th {
    background-color: #98C1D9;
}

.add-item-form, .edit-item-form {

    border: 5px solid #eac4c4;
    padding: 20px;
    text-align: center;
}

form label {
    display: block;
    margin-top: 10px;
}

form input, form button {
    display: block;
    margin: 10px auto;
}

form button {
    padding: 10px 20px;
    background-color: #5DA271;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #3a7149;
}
